body {
	background: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	ul {
		list-style: none;
		column-count: 3;
		column-gap: 0.6rem;

		li {
			cursor: pointer;
			transition: 0.3s;
      margin-bottom: 0.6rem;
      border-radius: 0.3rem;
      overflow: hidden;

			figure {
				margin: 0;
				display: flex;
				break-inside: avoid;

				img {
					width: 100%;
					transition: 0.3s;
				}
			}
			
			&:hover {
				transform: translateY(0.2rem);
				
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}

